AZURE_API_ENDPOINT = "https://{Azure_Foundry_Project}-resource.openai.azure.com"
AZURE_API_KEY =  "AZURE API KEY"
OPENAI_API_VERSION = "2024-06-01"
LANGSMITH_API_KEY  = "LANGSMITH/LANGCHAIN API KEY - https://docs.langchain.com/langsmith/create-account-api-key"